//
//  AppStore.xcconfig
//  Fruitendo_iOS13
//
//

APPSTORE_BUILD = 1

OTHER_CFLAGS = $(inherited) -DHAVE_APPLE_STORE
OTHER_CFLAGS = $(inherited) -DHAVE_ICLOUD
OTHER_CFLAGS = $(inherited) -DkFruitendoAppGroup=@\"group.com.libretro.dist.FruitendoGroup\"

IOS_BUNDLE_IDENTIFIER = com.libretro.dist.Fruitendo
TVOS_BUNDLE_IDENTIFIER = com.libretro.dist.Fruitendo

IOS_CODE_SIGN_ENTITLEMENTS = iOS/FruitendoiOS.entitlements
TVOS_CODE_SIGN_ENTITLEMENTS = tvOS/FruitendoTV.entitlements
TVOS_TOPSHELF_CODE_SIGN_ENTITLEMENTS = tvOS/FruitendoTopShelf.entitlements

RA_IPHONEOS_DEPLOYMENT_TARGET = 12.0
TVOS_DEPLOYMENT_TARGET = 13.0
