[Desktop Entry]
Version=1.0
Name=Fruitendo
GenericName=Frontend for the libretro API
Type=Application
Comment=Frontend for emulators, game engines and media players
Comment[ru]=Графический интерфейс для эмуляторов, игровых движков и медиаплееров
Comment[fr]=Interface graphique pour émulateurs, moteurs de jeu et lecteurs multimédia
Comment[de]=Front-End für Emulatoren, Spiel-Engines und Mediaplayer
Icon=com.libretro.Fruitendo
Exec=Fruitendo
Terminal=false
StartupNotify=false
StartupWMClass=Fruitendo
Keywords=multi;engine;emulator;xmb;
Categories=Game;Emulator;
